Repository buildkite/starter-pipeline-example: changes, and which Buildkite steps are due for each by the changed paths.
All: echo Make Changes cmd with dollar, :trigger, child-pipeline

echo Make Changes cmd with dollar:
  command: echo Make Changes cmd with dollar

:trigger:
  command: echo "hi from monorepo-diff"
  label: :trigger
  agents:
  - queue:default-queue

child-pipeline:
  trigger: child-pipeline

Update script to generate steps from stored number
  .buildkite/pipeline.dynamic-steps.yml
  src/fetch-and-display-number.sh
  src/generate-and-store-number.sh
  src/generate-steps-from-stored-number.sh
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline

Testing blocked step
  .buildkite/block-step.yml
Due: child-pipeline

Testing Buildkite pipeline integration
  README.md
Due: none

Testing Buildkite integration
  README.md
Due: none

Use block-step pipeline configuration
  .buildkite/pipeline.yml
Due: child-pipeline

Clean pipeline.yml - remove pipeline upload command
  .buildkite/pipeline.yml
Due: child-pipeline

Streamline configuration
  .buildkite/block-step.yml
  .buildkite/pipeline.dynamic-steps.yml
  .buildkite/pipeline.pass-random-number.yml
  .buildkite/pipeline.yml
  .buildkite/template.yml
Due: child-pipeline

Modified release command
  .buildkite/pipeline.yml
Due: child-pipeline

Input Test
  .buildkite/pipeline-block.yml
  .buildkite/pipeline.yml
  src/test.sh
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline

Testing Env1
  src/test.sh
Due: echo Make Changes cmd with dollar, :trigger

Testing Env 2
  .buildkite/pipeline.yml
Due: child-pipeline

Testing Env 2
  .buildkite/pipeline-block.yml
  .buildkite/pipeline.yml
  src/fetch-and-display-number.sh
  src/generate-and-store-number.sh
  src/generate-steps-from-stored-number.sh
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline

Test trigger - 23:34
  README.md
Due: none

Show Env Docker
  .buildkite/pipeline.yml
  src/show_environment.sh
  src/test.sh
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline

Make show_environment.sh executable
  src/show_environment.sh
Due: echo Make Changes cmd with dollar, :trigger

show_environment.sh executable
  src/show_environment.sh
Due: echo Make Changes cmd with dollar, :trigger

show_environment executable
  .buildkite/pipeline.yml
Due: child-pipeline

Testing Linux Agent
  .buildkite/pipeline.yml
Due: child-pipeline

Testing Linux Agent
  .buildkite/pipeline.yml
  src/generate-and-store-number.sh
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline

Testing Linux Agent
  .buildkite/pipeline.yml
  src/generate-and-store-numbers.sh
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline

Test SSL fix
  README.md
Due: none

Test SSL bypass
  README.md
Due: none

Testing wrong format
  .buildkite/pipeline.yml
Due: child-pipeline

Still testing formatting
  .buildkite/pipeline.yml
Due: child-pipeline

Testing further format
  .buildkite/pipeline.yml
Due: child-pipeline

Testing emoji at runtime
  .buildkite/pipeline.yml
Due: child-pipeline

Testing emoji
  .buildkite/pipeline.yml
Due: child-pipeline

Custom variables
  .buildkite/pipeline.yml
Due: child-pipeline

Custom env
  .buildkite/hooks/pre-command
Due: child-pipeline

Dynamic pipeline for env
  .buildkite/pipeline.yml
Due: child-pipeline

add dd-measure
  .buildkite/simple.yml
Due: child-pipeline

Testing docker compose
  .buildkite/pipeline.docker-compose.yml
  src/docker-compose.yml
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline

Testing docker compose on mac agent
  .buildkite/pipeline.docker-compose.yml
Due: child-pipeline

Path conditions:
  echo Make Changes cmd with dollar: any of: src/
  :trigger: any of: src/
  child-pipeline: any of: .buildkite/
