Repository buildkite/starter-pipeline-example: changes, and which Buildkite steps are due for each by the changed paths.
All: echo Make Changes cmd with dollar, :trigger, child-pipeline

echo Make Changes cmd with dollar:
  command: echo Make Changes cmd with dollar

:trigger:
  trigger: freeze
  label: :trigger

child-pipeline:
  trigger: child-pipeline

skip commit
  src/skip_commit.sh
Due: echo Make Changes cmd with dollar, :trigger

skip commit
  .buildkite/skip_commit.yml
  src/skip_commit.sh
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline

loop through responses
  src/skip_commit.sh
Due: echo Make Changes cmd with dollar, :trigger

loop through responses
  .buildkite/skip_commit.yml
  src/skip_commit.sh
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline

loop through responses
  .buildkite/skip_commit.yml
Due: child-pipeline

plugin with pagination
  .buildkite/skip_commit.yml
Due: child-pipeline

plugin with pagination
  .buildkite/skip_commit.yml
  src/skip_commit.sh
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline

plugin with pagination
  src/skip_commit.sh
Due: echo Make Changes cmd with dollar, :trigger

Test dyno
  .buildkite/dynamic_pipeline.sh
  .buildkite/dynamic_pipeline.yml
Due: child-pipeline

Path conditions:
  echo Make Changes cmd with dollar: any of: src/
  :trigger: any of: src/
  child-pipeline: any of: .buildkite/
