Repository buildkite/starter-pipeline-example: changes, and which Buildkite steps are due for each by the changed paths.
All: echo Make Changes cmd with dollar, :trigger, child-pipeline

.buildkite/mono_repo_diff.yml:

steps:
  - label: "Triggering pipelines"
    plugins:
      - monorepo-diff#v1.0.1:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path: src/
              config:
                command: "echo Make Changes cmd with dollar"
            - path:
                - src/
              config:
                trigger: "freeze"
                label: ":trigger"

.buildkite/monorepo_trigger.yml:

steps:
  - input: "Cluster to deploy"
    key: "cluster_select"
    fields:
    - select: "Cluster"
      key: "selected_cluster"
      required: true
      default: "main"
      options:
        - label: "cluster"
          value: "staging"
  - label: "Trigger pipelines based on changes to specific paths"
    plugins:
      - monorepo-diff#v1.3.0:
          watch:
            # Trigger for grok-in-xai-build-and-deploy
            - path:
                - .buildkite/
              config:
                trigger: "child-pipeline"

test monorepo
  .buildkite/monorepo_trigger.yml
Due: child-pipeline

test block
  .buildkite/block_on_condition.yml
Due: child-pipeline

test sign
  .buildkite/pipeline.xxx.yml
  .buildkite/verify_sign.yml
  src/upload.sh
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline

test sign
  .buildkite/pipeline.xxx
  src/upload.sh
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline

test sign
  src/upload.sh
Due: echo Make Changes cmd with dollar, :trigger

test sign
  .buildkite/pipeline_upload.yml
  src/upload.sh
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline

test sign
  .buildkite/pipeline_upload.yml
Due: child-pipeline

bump github.com/redis/go-redis/v9 from 9.7.0 to 9.7.3 (#9052)
  .buildkite/artifact.yml
Due: child-pipeline

bump github.com/redis/go-redis/v9 from 9.7.0 to 9.7.3 (#9052)
  .buildkite/dynamic_pipeline.sh
Due: child-pipeline

build(deps): update module golang.org/x/net to v0.38.0 (#9115)
  .buildkite/dynamic_pipeline.sh
Due: child-pipeline

test pr
  .buildkite/dynamic_pipeline.sh
Due: child-pipeline

test pr in branch
  .buildkite/dynamic_pipeline.sh
Due: child-pipeline

test pr with base change in branch
  .buildkite/dynamic_pipeline.sh
Due: child-pipeline

add more env
  .buildkite/dynamic_pipeline.sh
Due: child-pipeline

tesT
  .buildkite/dynamic_pipeline.sh
Due: child-pipeline

:test tf
  .buildkite/apply.sh
  .buildkite/dynamic_pipeline.sh
  .buildkite/plan.sh
  .buildkite/terraform_actions.yml
  main.tf
  pipeline.tf
  terraform.tfvars
Due: child-pipeline

:test tf
  .buildkite/terraform_actions.yml
Due: child-pipeline

:test tf
  .buildkite/terraform_actions.yml
  src/apply.sh
  src/plan.sh
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline

:test tf
  pipeline.tf
Due: none

:test tf
  variables.tf
Due: none

:test tf
  .buildkite/terraform_actions.yml
  main.tf
Due: child-pipeline

:test tf
  main.tf
Due: none

:test tf
  src/apply.sh
  src/plan.sh
Due: echo Make Changes cmd with dollar, :trigger

:test tf
  src/apply.sh
Due: echo Make Changes cmd with dollar, :trigger

skip commit
  .buildkite/skip_commit.yml
  src/skip_commit.sh
Due: echo Make Changes cmd with dollar, :trigger, child-pipeline
